h1 {
  border-bottom: 1px solid #2d2d2d;
}
.markdown-section h1 {
  font-size: 1.6em;
}
.markdown-section h2 {
  font-size: 1.2em;
}
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  font-size: 0.85em;
}
